<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h2 class="sub-header">申请成为作者</h2>
      <div  class="sub-header row">       
        <div class="col-xs-6 col-sm-6">
          <!--<button href="#" class="btn btn-default suosuo">修改资料</button>-->
        </div>                     
      </div>

      <%= render 'new' %>

    </div>  
  </div>  
</div>  



