
<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-12 col-md-12 main">

      <h2 class="sub-header">章节管理 <span>&nbsp;&nbsp;总共 118 章节</span></h2>
      
      <div  class="sub-header row">
        
        
        <div class="col-xs-2 col-sm-2">
          <a href="#" class="btn btn-default suosuo">+ 新建章节</a>
        </div>
                           
      </div>          
      <div class="table-responsive">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#">第50章 凡事总结提高</a>
            <span class="badge">评论14</span>
            <a href="#" class="badge">编辑</a>
          </li>
          <li class="list-group-item">
            <a href="#">第49章 凡事研究策划</a>
            <span class="badge">评论14</span>
            <a href="#" class="badge">编辑</a>
          </li>
          <li class="list-group-item">
            <a href="#">第48章 凡事制定目标</a>
            <span class="badge">评论14</span>
            <a href="#" class="badge">编辑</a>
          </li>
          <li class="list-group-item">
            <a href="#">第47章 凡事总结提高</a>
            <span class="badge">评论14</span>
            <a href="#" class="badge">编辑</a>
          </li>
          <li class="list-group-item">
            <a href="#">第46章 凡事研究策划</a>
            <span class="badge">评论14</span>
            <a href="#" class="badge">编辑</a>
          </li>
          <li class="list-group-item">
            <a href="#">第45章 凡事制定目标</a>
            <span class="badge">评论14</span>
            <a href="#" class="badge">编辑</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
