<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">

      <h2 class="sub-header">书籍管理 <span>&nbsp;&nbsp;总共 18 本书</span></h2>

      <div  class="sub-header row"> 

        <div class="col-xs-8 col-sm-4">
          <form>
            <div class="input-group">            
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default suosuo" type="button">搜索</button>
              </span>            
            </div> 
          </form> 
        </div>  
        
        <div class="col-xs-2 col-sm-2">
          <button href="#" class="btn btn-default suosuo">+ 添加</button>
        </div>
                           
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>书名</th>
              <th>作者</th>
              <th>操作</th>
              <th>书籍类别</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>《创业无疆》</td>
              <td>西村夜月</td>
              <td><a href="中心-作者专区.html">查看详情</a></td>
              <td>互联网创业</td>
            </tr>
            <tr>
              <td>《创业无疆》</td>
              <td>西村夜月</td>
              <td><a href="中心-作者专区.html">查看详情</a></td>
              <td>互联网创业</td>                  
            </tr>
            <tr>
              <td>《创业无疆》</td>
              <td>西村夜月</td>
              <td><a href="中心-作者专区.html">查看详情</a></td>
              <td>互联网创业</td>
            </tr>
            <tr>
              <td>《创业无疆》</td>
              <td>西村夜月</td>
              <td><a href="中心-作者专区.html">查看详情</a></td>
              <td>互联网创业</td>
            </tr>
            <tr>
              <td>《创业无疆》</td>
              <td>西村夜月</td>
              <td><a href="中心-作者专区.html">查看详情</a></td>
              <td>互联网创业</td>
            </tr>
            <tr>
              <td>《创业无疆》</td>
              <td>西村夜月</td>
              <td><a href="中心-作者专区.html">查看详情</a></td>
              <td>互联网创业</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
