<div class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">
    
   <div class="blog-header">
    <h1 class="blog-title">创业无疆</h1>
    <p class="blog-description">
    <a href="#">作者：西村夜月</a>&nbsp;&nbsp;
    <span class="rich_media_meta rich_media_meta_text">评论总数：1119 条</span>&nbsp;&nbsp;
    <span class="rich_media_meta rich_media_meta_text">最新更新时间：2015-03-09</span>
    </p>
   </div>
   
     <div>
       <!-- 文章内容区域 开始 -->    
        <ul class="list-group row zhangjieliebiao">
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第50章 凡事总结提高</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第49章 凡事研究策划</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第48章 凡事制定目标</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第47章 凡事制定目标</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第46章 凡事总结提高</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第45章 凡事研究策划</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第44章 凡事制定目标</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第43章 凡事制定目标</a>
            <span class="badge">评论14</span>
          </li>
          <li class="list-group-item col-xs-12 col-sm-6">
            <a href="#">第42章 凡事制定目标</a>
            <span class="badge">评论14</span>
          </li>
        </ul>  
      </div>     
         
    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>关于我们</h4>
        <p>谢谢大家的支持，希望有所触动时，大家能够积极评论，希望在大家一起的努力下，让这本书越来越有价值。<br/>读者QQ群：3472482378438
        </p>
      </div>
      <div class="sidebar-module">
        <h5>关注微信公众号，第一时间知晓小说动态</h5>
        <p><img src="image/erweima.jpg" class="erweima"/></p>
      </div>
      <!--<div class="sidebar-module">
        <h4>标签筛选</h4>
        <ol class="list-unstyled">
          <li><a href="#">首页</a></li>
          <li><a href="#about">干货文章</a></li>
          <li><a href="#contact">长沙活动</a></li>
          <li><a href="#contact">长沙互联网界</a></li>
          <li><a href="#about">回湘十问</a></li>
          <li><a href="#contact">找组织</a></li>
        </ol>
      </div>-->
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
