<footer class="blog-footer">
  <p>看知识型小说就上&nbsp;&nbsp;9i53.com</p>
  <p>©知说9i53&nbsp;&nbsp;湘ICP备14012637号-3</p>
  <p>
    <a href="/disclaimer">免责申明</a> | <a href="/about">关于我们</a> | <a href="#">返回顶部</a>
  </p>
</footer>